html{
    max-width: 100vw;
    overflow-x: hidden;
    user-select: none;
}

input,textarea{
    user-select: text;
}

*{
    box-sizing: border-box;
    margin: 0;
    --color1:white;
    --color2:hsl(0, 55%, 60%);
    --color3:hsl(215, 40%, 45%);
    --color4:hsl(215, 55%, 60%);
    --color5:hsl(215, 75%, 85%);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


.topPage{
    min-height: 660px;
    width: 100%;
    color:var(--color3)
}
