.navbar{
    background: var(--color2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 49px;
    user-select: none;
    position: fixed;
    top: 0;
    border-bottom: 2px solid var(--color1);
    width: 100%;
    z-index: 1000000000000;
}

.navbar>div>a{
    color: var(--color1);
    text-decoration: none;
    cursor: pointer;
}

.navbar>div>a>div{
    font-weight: 700;
    padding: 15px 20px;
    overflow: hidden;
    white-space: nowrap;
}

.navbar>div>a>div:hover{
    background-color: var(--color1);
    color:var(--color2)
}

.navbar>div:nth-child(1){
    display: flex;
}

.topLogo{
    height: 110px;
    background: var(--color1);
    user-select: none;
    display: flex;
    align-items: center;
    padding-left: 25px;
}
.topLogo h1{
    font-weight: 900;
    font-size: 3rem;
    color: var(--color2);
}

.choosed{
    background-color: var(--color1) !important;
    color:var(--color2) !important
}

.topSpace{
    height:49px
}

.menu{
    display: block;
    width: 100%;
    top:49px ;
    background: var(--color1);
    position: fixed;
    z-index: 1000000;
}

.menu a{
    text-decoration: none;
}

.menu a>div{
    padding: 8px ;
    color: var(--color2);
    font-weight: 700;
    border-bottom: 1px solid var(--color2);
}

@media only screen and (min-width:700px){
    .topLogo h1{
        font-size: 5rem;
    }
    .topLogo{
        padding-left: 60px;
    }

    .menu{
        display: none;
    }
    
}

